/* Google-font import */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*-------------------------- */

/* Innehållsförteckning */
/* 1) Google-font import */
/* 2) Variabler */
/* 3) Globala inställningar */
/* 4) Knappar och Effekter*/
/* 5) Navbar */
/* 6) Svg-hamburgaren */
/* 7) Hero */
/* 8) Trummaskinen */
/* 9) Presentationen tekniken bakom och Redovisning*/
/* 10) Footer */

/*-------------------------- */

/* Variabler */
:root {
    --max-size: 1000px;
    --yellow: #ffc600;
    --lavender: #8a8fff;
    --white: #fff;
    --black: #000;
}

/* Globala inställningar */
body {
    box-sizing: border-box;
    background-color: var(--black, #000);
    color: var(--white, #fff);
}

h1,
h2,
h3,
h4 {
    font-family: 'DM Serif Display', serif;
}

h5,
h6,
a,
p,
.sound {
    font-family: 'DM Sans', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

/* Knappar och Effekter*/

.footer-links-container li a:hover,
.links-container li:hover {
    background-color: var(--lavender, lavender);
    color: var(--black, #000);
}

/* Navbar */
.nav-wrapper {
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--black, #000);
    position: fixed;
    margin: 0;
    padding: 0;
    margin: 0 0.2rem;
}

.nav-container {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: var(--max-size);
}

.logo-container {
    max-width: 200px;
}

.links-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-container li {
    max-width: 200px;
    width: 100%;
    border: 1px solid var(--white, #fff);
    margin-top: 0.5rem;
    transition: 0.2s ease-in;
}

.links-container li a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--white, #fff);
    padding: 1rem;
}

.links-container li:focus {
    background-color: var(--lavender, lavender);
    color: var(--black);
}

.active-page {
    background-color: var(--lavender, lavender);
}

.active-page a {
    font-weight: bold;
    color: var(--black) !important;
}

/* Svg-hamburgaren */
#hamburger {
    display: none;
    cursor: pointer;
    border-radius: 3px;
}

#hamburger .line {
    transition: y 300ms ease-in 300ms, transform 300ms ease-in,
        opacity 0ms 300ms;
    transform-origin: center;
}

#hamburger[aria-expanded='true'] .line {
    transition: y 300ms ease-in, transform 300ms ease-in 300ms,
        opacity 0ms 300ms;
}

/* varnade för det här, hittade inget fix.  */
#hamburger[aria-expanded='true'] :is(.top, .bottom) {
    y: 45; /*<---- den här */
}
#hamburger[aria-expanded='true'] .top {
    transform: rotate(45deg);
}
#hamburger[aria-expanded='true'] .middle {
    opacity: 0;
}
#hamburger[aria-expanded='true'] .bottom {
    transform: rotate(-45deg);
}

#menu {
    display: block;
}

@media (max-width: 768px) {
    #menu {
        position: fixed;
        width: 100%;
        top: 50px;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
        background-color: var(--black, #000);
        grid-template-rows: 40px 1fr 1fr 1fr;
    }

    a {
        color: var(--white, #fff);
        font-weight: bold;
    }

    .links-container {
        margin-top: 20vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }

    #hamburger {
        display: grid;
    }
}

/* Hero */
.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    margin: 0 0.2rem;
    width: 100%;
    max-width: var(--max-size);
    padding-bottom: 3rem;
}

.hero-title {
    margin: 0;
    padding: 0;
    margin-top: 20vh;
    font-size: 6rem;
    line-height: 5rem;
    word-wrap: break-word;
}

/* Main  */
.main-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    margin: 0 0.2rem;
    width: 100%;
    max-width: var(--max-size);
}

/* Presentationen tekiken bakom och Redovisning*/

.information-wrapper{
    padding: 1rem 0;
}

.information-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
}

@media (max-width: 768px) {
    .information-container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}

.information-item {
    border: 1px solid var(--white, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.explainer {
    font-family: 'Azeret Mono', monospace;
    line-height: 1.5rem;
    word-break: break-all;
    width: 100%;
    max-width: 400px;
    color: var(--lavender, lavender);
}

.explainer span {
    word-break: break-all;
    color: var(--white, #fff);
    padding-left: 20px;
}

/* Trummaskinen */

.keys {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.key {
    border: 1px solid var(--lavender, lavender);
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 1rem 0.5rem;
    transition: all 0.07s;
    text-align: center;
    color: var(--lavender, lavender);
    text-shadow: 0 0 5px var(--black, #000);
}

.playing {
    transform: scale(1.02);
    border-color: var(--yellow, yellow);
    box-shadow: 0 0 10px var(--yellow, yellow);
    background-color: var(--white, #fff);
}

kbd {
    display: block;
    font-size: 40px;
}

.sound {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--lavender, lavender);
}

/* Footer */

.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    width: 100%;
    max-width: var(--max-size);
    margin: 0 0.2rem;
}

@media (min-width: 768px) {
    .footer-links-container {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
    }
}

.footer-links-container li {
    padding: 0.2rem;
}

.footer-links-container li a {
    color: var(--white, #fff);
    text-decoration: none;
    transition: 0.2s ease-in;
}

.footer-links-container {
    border: 1px solid var(--white, #fff);
}

.footer-container p span {
    font-style: italic;
}

/* Validerad 28/7 2023, ett fel, svg-egenskapen "y" kodrad: 178. Hittade inget fix  */
